{% extends 'base.html' %}
{% block title %}Home - COMP6006{% endblock %}
{% block content %}
<div class="container">
    <h2>Welcome to COMP6006</h2>
    <p>This is the homepage content.</p>

    <table class="table table-bordered"> 
        <thead>
            <tr> 
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th> 
            </tr>
        </thead> 
        <tbody>
            {% for x in books %}
            <tr>
                <th>{{ x.title }}</th>
                <th>{{ x.author }}</th>
                <th>{{ x.rating.avgRating }}</th>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
{% endblock %}
</div>